<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Plans - Politivector</title>
    <link rel="icon" type="image/png" href="assets/logo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/future_plans.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <a href="/">
                <img class="mini-logo" src="assets/mini.png" alt="">
            </a>
            <nav>
                <ul>
                    <li><a href="/" id="home"><%= __("Home") %></a></li>
                    <li><a href="/future" id="future-plans"><%= __("Future") %></a></li>
                    <%- include("partials/language_select.ejs", {path: "/future", locale: getLocale()}) %> 
                </ul>
            </nav>
        </header>
    </div>
    
    <section class="hero">
        <div>
            <h1><%= __("futureHeaderOne") %></h1>
            <h1 id="gradient"><%= __("futureHeaderTwo") %></h1>
            <h1><%= __("futureHeaderThree") %></h1>
        </div>
        <a onclick="document.getElementById('scroll-to').scrollIntoView()">
            <img src="assets/arrow.png" alt="">
        </a>
    </section>
    
    <section class="plans" id="scroll-to">
        <div class="center">
            <div class="plan">
                <p class="title"><%= __("futureQuestionsHeader") %></p>
                <p class="description"><%= __("futureQuestionsOne") %></p>
                <p class="description"><%= __("futureQuestionsTwo") %></p>
            </div>
            <div class="plan">
                <p class="title"><%= __("futureDataHeader") %></p>
                <p class="description"><%= __("futureDataOne") %></p>
                <p class="description"><%= __("futureDataTwo") %></p>
                <p class="description"><%= __("futureDataThree") %></p>
                <p class="description"><%= __("futureDataFour") %></p>
                <p class="description"><%= __("futureDataFive") %></p>
            </div>
            <div class="plan">
                <p class="title"><%= __("futureResultsHeader") %></p>
                <p class="description"><%= __("futureResultsOne") %></p>
                <p class="description"><%= __("futureResultsTwo") %></p>
                <p class="description"><%= __("futureResultsThree") %></p>
            </div>
            <div class="plan">
                <p class="title"><%= __("futureModeHeader") %></p>
                <p class="description"><%= __("futureModeOne") %></p>
            </div>
        </div>
    </section>
</body>
</html>