<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Politivector</title>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/index/index.css">

    <script src="scripts/_menu.js" defer></script>
    <script src="scripts/_language.js" defer></script>
    <script src="scripts/_variant_font.js" defer></script>
    <script src="scripts/_accordion.js" defer></script>
    <script src="scripts/_select.js" defer></script>
</head>
<body>
    <div id="select">
        <div id="popup">
            <svg id="popup-cancel" viewBox="0 0 24 24">
                <rect x="9" y="9" width="12" height="1.25" rx=".95" ry=".95"></rect>
            </svg>
            <p class="semi-bold"><%= __("test-select-title") %></p>
            <button id="start-complete-button" class="button primary no-arrow"><%= __("test-select-complete-button") %></button>
            <p class="question-count"><%= __("test-select-complete-info") %></p>
            <p><%= __("test-select-divider") %></p>
            <button id="start-basic-button" class="button secondary no-arrow"><%= __("test-select-basic-button") %></button>
            <p class="question-count"><%= __("test-select-basic-info") %></p></div>
        <div id="overlay"></div>
    </div>
    <div class="grid-container">
        <%- include("partials/nav_menu_partial.ejs", {path: "/"}) %>
        <div id="banner">
            <h1><%- __("banner-title") %></h1>
            <h2><%- __("banner-subtitle") %></h2>
            <div class="button-container">
                <button id="get-started" class="button primary"><%= __("banner-button-primary") %></button>
                <button class="button secondary" onclick="window.location.href = '/plans'"><%= __("banner-button-secondary") %></button>
            </div>
        </div>
        <div id="hero">
            <object data="/assets/index/illustrations/mobile/hero.svg" class="mobile" type="image/svg+xml"></object>
            <object data="/assets/index/illustrations/desktop/hero.svg" class="desktop" type="image/svg+xml"></object>
        </div>
        <div id="features">
            <h3><%- __("features-title") %></h3>
            <div class="feature-container">
                <div class="feature">
                    <object data="/assets/index/features/comprehensive.svg" class="feature-icon"
                            type="image/svg+xml"></object>
                    <p class="feature-title"><%- __("features-comprehensive-title") %></p>
                    <p class="feature-text"><%= __("features-comprehensive-text") %></p></div>
                <div class="feature">
                    <object data="/assets/index/features/international.svg" class="feature-icon"
                            type="image/svg+xml"></object>
                    <p class="feature-title"><%- __("features-international-title") %></p>
                    <p class="feature-text"><%= __("features-international-text") %></p></div>
                <div class="feature">
                    <object data="/assets/index/features/anonymous.svg" class="feature-icon"
                            type="image/svg+xml"></object>
                    <p class="feature-title"><%- __("features-anonymous-title") %></p>
                    <p class="feature-text"><%= __("features-anonymous-text") %></p></div>
                <div class="feature">
                    <object data="/assets/index/features/evolving.svg" class="feature-icon"
                            type="image/svg+xml"></object>
                    <p class="feature-title"><%- __("features-evolving-title") %></p>
                    <p class="feature-text"><%= __("features-evolving-text") %></p></div>
            </div>
        </div>
        <div id="visual-info">
            <object data="/assets/index/illustrations/mobile/visual-info.svg" class="mobile"
                    type="image/svg+xml"></object>
            <object data="/assets/index/illustrations/desktop/visual-info.svg" class="desktop"
                    type="image/svg+xml"></object>
        </div>
        <div id="info">
            <h3><%- __("info-title") %></h3>
            <div class="dropdown">
                <div class="accordion-item">
                    <div class="accordion-title"><p><%= __("info-accordion-title-1") %></p>
                        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/>
                            <path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/>
                        </svg>
                    </div>
                    <div class="accordion-text"><p><%- __("info-accordion-text-1") %></p></div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title"><p><%= __("info-accordion-title-2") %></p>
                        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/>
                            <path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/>
                        </svg>
                    </div>
                    <div class="accordion-text"><p><%- __("info-accordion-text-2") %></p></div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title"><p><%= __("info-accordion-title-3") %></p>
                        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/>
                            <path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/>
                        </svg>
                    </div>
                    <div class="accordion-text"><p><%- __("info-accordion-text-3") %></p></div>
                </div>
            </div>
        </div>
        <div id="goals"><h3><%- __("goals-title") %></h3>
            <div class="paragraph-item"><p class="semi-bold"><%= __("goals-experience-title") %></p>
                <p><%- __("goals-experience-text") %></p></div>
            <div class="paragraph-item"><p class="semi-bold"><%= __("goals-data-title") %></p>
                <p><%- __("goals-data-text") %></p></div>
            <div class="paragraph-item"><p class="semi-bold"><%= __("goals-reports-title") %></p>
                <p><%- __("goals-reports-text") %></p></div>
        </div>
        <div id="visual-goals">
            <object data="/assets/index/illustrations/desktop/visual-goals.svg" class="desktop"
                    type="image/svg+xml"></object>
        </div>
    </div>
    <%- include("partials/footer_partial.ejs") %>
</body>
</html>