<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politivector</title>
    <link rel="icon" type="image/x-icon" href="assets/logo.ico?">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="hero-img"></div>
    
    <div class="wrapper">
        <header>
            <a href="/">
                <img class="mini-logo" src="assets/mini.png" alt="">
            </a>
            <nav>
                <ul>
                    <li><a href="/" id="home"><%= __("Home") %></a></li>
                    <li><a href="/future" id="future-plans"><%= __("Future") %></a></li>
                    <%- include("partials/language_select.ejs", {path: "/", locale: getLocale()}) %> 
                </ul>
            </nav>
        </header>
        
        <section class="hero">
            <h1><%= __("indexHeader") %></h1>
            <p class="subhead"><%= __("indexHeaderSubtitle") %></p>
            <p class="head-text"><%= __("indexHeaderText") %></p>
            <a class="head-text" href="/future"><%= __("learnMore") %> &#8594;</a>
            <button class="start-test" onclick="location.href='/start'"><%= __("startTest") %></button>
            <div class="language"><a href="index.html"><b>EN</b></a><p>|</p><a href="turkish/index_tr.html">TR</a></div>
        </section>
        
        <section class="more-info">
            <div class="center">
                <div class="feature">
                    <div class="content number-box"><p class="numbering">1</p></div>
                    <div class="content">
                        <p class="title"><%= __("firstParaHeader") %></p>
                        <p class="description"><%= __("firstParaOne") %></p>
                        <p class="description"><%= __("firsParaTwo") %></p>
                    </div>
                </div>
                <div class="feature left">
                    <div class="content">
                        <p class="title"><%= __("secondParaHeader") %></p>
                        <p class="description"><%= __("secondParaOnePartOne") %> <b><%= __("stronglyAgree") %></b> <%= __("secondParaOnePartTwo") %> <b><%= __("stronglyDisagree") %></b><%= __("secondParaOnePartThree") %></p>
                        <p class="description"><%= __("secondParaTwo") %> </p>
                    </div>
                    <div class="content number-box"><p class="numbering">2</p></div>
                </div>
                <div class="feature">
                    <div class="content number-box"><p class="numbering">3</p></div>
                    <div class="content">
                        <p class="title"><%= __("thirdParaHeader") %></p>
                        <p class="description"><%= __("thirdParaOne") %></p>
                        <p class="description"><%= __("thirdParaTwo") %></p>
                    </div>
                </div>
                <div class="feature">
                    <div class="footer content">
                        <p class="title"><%= __("waitHeader") %></p>
                        <p class="description"><%= __("waitPara") %></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>