<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Politivector</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/questions/questions.css">

    <script src="scripts/_menu.js" defer></script>
    <script src="scripts/_language.js" defer></script>
    <script src="scripts/_variant_font.js" defer></script>
    <script src="scripts/_reveal.js" defer></script>

    <script type="text/javascript" src="data/questions.js"></script>
    <script type="text/javascript" src="scripts/question_handler.js"></script>
</head>
<body onload="questionPageInit('<%= questionsTextJSON %>');">
    <div class="grid-container">
        <%- include("partials/nav_menu_partial.ejs", {path: "/start"}) %>
        <div id="question">
            <div id="card">
                <h3 id="question-number" class="semi-bold no-reveal" style="--delay: 100ms"><!-- Rendered by the server--></h3>
                <p id="question-text" class="no-reveal" style="--delay: 200ms"><!-- Rendered by the server--></p>
                <div class="button-container">
                    <button id="aa" class="button no-reveal" onclick="questionAnswered(0);" style="--delay: 300ms"><%= __("questions-absolutely-agree") %></button>
                    <button id="pa" class="button no-reveal" onclick="questionAnswered(1);" style="--delay: 400ms"><%= __("questions-partially-agree") %></button>
                    <button id="ne" class="button no-reveal" onclick="questionAnswered(2);" style="--delay: 500ms"><%= __("questions-neutral") %></button>
                    <button id="pd" class="button no-reveal" onclick="questionAnswered(3);" style="--delay: 600ms"><%= __("questions-partially-disagree") %></button>
                    <button id="ad" class="button no-reveal" onclick="questionAnswered(4);" style="--delay: 700ms"><%= __("questions-absolutely-disagree") %></button>
                    <button id="back" class="button no-reveal" onclick="previousQuestion();" style="--delay: 800ms"></button>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer_partial.ejs") %>
</body>
</html>